.map-img {
  width: 100%;
  max-width: 600px;
  border: 2px solid #333;
  display: block;
  margin-bottom: 20px;
}


.box {
  padding: 10px;
  background: #f2f2f2;
  border: 1px solid #aaa;
  margin-top: 10px;
  transition: 0.3s;
}

:target {
  background: #a8ffb3;
  border-color: #2f8f32;
}